<div>
    <img src="/images/beer.png" alt="beer image" />
    <br />

    <a href='/beers'>
        <button class="link-button">
            Check the Beers!
        </button>
    </a>
    <br />
    <a href='/random-beer'>
        <button class="link-button">
            Check a Random Beer!
        </button>
    </a>
</div>